/* ------------------ GLOBAL STYLES ------------------ */

/*TYPOGRAPHY*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../league-gothic/league_gothic-webfont.eot');
    src: url('../league-gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../league-gothic/league_gothic-webfont.woff') format('woff'),
         url('../league-gothic/league_gothic-webfont.ttf') format('truetype'),
         url('../league-gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
height:100%;
//overflow-x:hidden;
}
body {
font-family: Helvetica, sans-serif;
}

.main-nav {
font-family: "LeagueGothicRegular";
font-size:24px;
}

#tagline {
font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

/*POSITIONING*/
.questions
{
	margin: 0 15% 0 15%;
}
#contact
{
margin:0 10% 0 10%;
}
#about
{
margin:0 5% 0 5%;
}
#footer{ 
	margin: 0 auto; 
	text-align: center;
	padding-bottom:100px;

}

#background-filler{
	height:100%
	width:100%;
}

#tndrbox-welcome
{
	color:#F4F2E6;
	margin-top:0;
	padding:0 20px 20px 20px;
	width:70%;
}

.posting-list-button
{
	margin-bottom:10px;
	background:#999;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
}


#postings
{
	left:0;
//	margin: 0 auto;
	padding-top:20px;

	position:relative;
}
#postings-container
{
	position:relative;
	min-height:90%;
	background:#F4F2E6;
	padding-left:15px;
        -webkit-box-shadow: -3px 0 0px rgba(0,0,0,.25);
           -moz-box-shadow: -3px 0 0px rgba(0,0,0,.25);
                box-shadow: -3px 0 0px rgba(0,0,0,.25);
}

	
#postings-header
{
	background:#A33539;
	padding-top:11px;
	padding-bottom:1px;
	z-index:100;
 
}
#postings-header-filler
{
	padding-top:5px;
	background:#F4F2E6;
}

.short
{
padding:0;
margin:0;
}

#postings-header.sticky{
	position:fixed;
	top:0px;
	left:70px;

       -webkit-box-shadow: -3px 2px 2px rgba(0,0,0,.45);
           -moz-box-shadow: -3px 2px 2px rgba(0,0,0,.45);
                box-shadow: -3px 2px 2px rgba(0,0,0,.45);
}
#postings-header.rounded-top{
       -webkit-border-top-left-radius: 5px;
          -moz-border-top-left-radius: 5px;
               border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
          -moz-border-top-right-radius: 5px;
               border-top-right-radius: 5px;
       -webkit-box-shadow: -3px 2px 2px rgba(0,0,0,.45);
           -moz-box-shadow: -3px 2px 2px rgba(0,0,0,.45);
                box-shadow: -3px 2px 2px rgba(0,0,0,.45);
}

.form-inline-margin-fix
{
	margin:0;
}

/* header styles */


#loading
{
float:left;
}



#posting-image img
{
	max-height:300px;
	margin-bottom: 20px;
}


 




#box
{
	position:fixed;
	z-index:100;
	left:5px;
	bottom:-50px;
}




#box img
{
	height:150px;
}





#posting-blurb
{
	padding-left:40px;
	padding-right:40px;
}
.posting-time
{
	padding-right:15px;
	text-align:right;
}

form
{
	margin-bottom:0px;
}
.form-actions
{
	margin-bottom:0px;
}

.inverted
{
	color:white;
}



.tags>li
{
	margin:10px;
}

.tag
{
       -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
               border-radius: 20px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
                box-shadow: 0 1px 2px rgba(0,0,0,.25);
	background:#ccc;
	padding:2px 5px 2px 5px;

	color: #333;
}



.front-page-button-header
{
	padding-top:2px;
	width:100%;
	color:#F4F2E6;
}

.front-page-button-body
{
 	background:#F4F2E6;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
       -webkit-border-top-left-radius: 5px;
          -moz-border-top-left-radius: 5px;
               border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
          -moz-border-top-right-radius: 5px;
               border-top-right-radius: 5px;
	margin:2px;
	
}

.front-page-button-text
{
	padding:5px 2px 3px 2px;
	color:#333;
}

.post-mod-buttons
{
	padding-right:5px;
	padding-top:5px;
}

.post-big
{


       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
}
.post-title
{
	padding-top:5px;
	font-size:30px;
	line-height:150%;
}
.post-title>.date
{
	font-size:20px;
}
.post-body
{
 	background:#F4F2E6;
	margin:2px;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
       -webkit-border-top-left-radius: 5px;
          -moz-border-top-left-radius: 5px;
               border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
          -moz-border-top-right-radius: 5px;
               border-top-right-radius: 5px;
}
.post-header
{
	color:#F4F2E6;
}
.share
{
	position:absolute;
	bottom:10px;
	right:10px;
}
.share > a
{
	padding:0px;
	width:40px;
}
.post-mini.button
{
	padding:auto;
	text-align:center;

        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
                box-shadow: 0 1px 2px rgba(0,0,0,.25);
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
}

.post-mini.li
{
	background:#F4F2E6 ;
	width:90%;
}

.highlight
{
	background:#A33539;
}
#data-container
{
	display:inline-block;
}
#map-canvas
{
//	position:relative;
	z-index=99;
//	float:right;
	background:#F4F2E6;
        -webkit-box-shadow: -3px -3px 2px rgba(0,0,0,.25);
           -moz-box-shadow: -3px -3px 2px rgba(0,0,0,.25);
                box-shadow: -3px -3px 2px rgba(0,0,0,.25);
}


.third
{
	width:32%;
}
.white-bg
{
	background:#F4F2E6;
}
.white
{
	color:#F4F2E6;
}
.centered
{
	text-align:center;
}

.front-page-button > a
{
	color:#333;
}

.business-info > img
{
	width:100%;
}

.business-info
{
	padding-left: 10px;
	padding-top: 10px;
}



.front-page-button img
{
	max-width:100%;

}
#tndrbox-logo {
	background: url(../images/logo.png);
	width:120px;
	height:20px;
	margin-left:20px;
}

/*body styles*/
#body-container
{
	height:100%;
	margin-top:25px;
	position:relative;

        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
                box-shadow: 0 1px 2px rgba(0,0,0,.5);
}


#new-user
{
	width:90%;
	margin: 0 auto;
}

#new-business
{
	width:90%;
	margin: 0 auto;
}

.bordered
{
	border: 1px solid;
}

.column
{
	border-right: 1px solid;
	border-left: 1px solid;
	padding:10px;
}

.top-left
{
	padding-top:0px;
	padding-left:0px;
}

.business-card
{
	background:#eee;
	padding-right:5px;
	margin-bottom:60px;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.45);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.45);
                box-shadow: 0 1px 2px rgba(0,0,0,.45);


}

.content
{
	background:#F4F2E6;
	padding:10px;
}

.rounded
{
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* login page */
#signin-form
{
		padding:20px;
		float:none;
		max-width:220px;
		margin:0 auto;
}

/*ajax responses*/
#result
{
    position:relative;
    margin:auto;
    text-align:left;
    width:400px;
}

#result a
{
    color:#800b0d;
    padding:2px;
    text-decoration:underline;
}

/*autocomplete div styling*/
.autocomplete { border:1px solid #999; background:#F4F2E6; cursor:default; text-align:left; max-height:500px; overflow:auto; margin-top:6px; padding-left:6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#fcc; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#800b0d; }

/*Button (no logo)*/

div.business_button
{
    background:#fa8f28;
    color:white;
    width:160px;
    height:40px;
    text-align:center;
    padding-top:20px;
    padding:10px;
    font-family:arial;
    font-size:15px;
    overflow:clip;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}

div.business_button>span
{
    line-height:15px;
    vertical-align:middle;
}

div.business_button a
{
    color:#800b0d;
}








