/*html styles*/
@media all and (min-width:768px){
	body
	{
		background:url('../images/bg-tile.png');
	}
}
body.inactive
{
	overflow:hidden;
}

/*general*/
/*map fix*/
#map-canvas img{max-width:none}
#preview-map-canvas img{max-width:none}

/*tndr sprites*/
.Advocacy, .Community, .Drinks, .Education, .Entertainment, .Fashion, .Food, .Health, .Music, .Other, .Recreation, .Spirituality, .date, .date_time, .email, .facebook, .google_plus, .time, .twitter, .Advocacy_sm, .Community_sm, .Drinks_sm, .Education_sm, .Entertainment_sm, .Fashion_sm, .Food_sm, .Health_sm, .Music_sm, .Other_sm, .Recreation_sm, .Spirituality_sm, .Art, .Art_sm, .target, .unlit, .lighting, .lit, .tinder, .sparked, .on-fiya, .share-icon {
//	margin-top:2px;
	background: url('../images/tndr-sprites.png') no-repeat;
}

.date{
	background-position: -228px -160px ;
	width: 30px;
	height: 30px;
}

.email{
	background-position: -103px -161px ;
	width: 35px;
	height: 22px;
}

.facebook{
	background-position: -70px -161px ;
	width: 35px;
	height: 22px;
}

.google_plus{
	background-position: -38px -161px ;
	width: 35px;
	height: 22px;
}

.time{
	background-position: -260px -160px ;
	width: 30px;
	height: 30px;
}

.twitter{
	background-position: 0 -161px ;
	width: 35px;
	height: 22px;
}

.target{
	background-position: -141px -161px ;
	width: 30px;
	height: 30px;
}

.Music{
	background-position: -416px 0;
	width: 50px;
	height: 30px;
}

.Art{
	background-position: -47px 0;
	width: 50px;
	height: 30px;
}

.Spirituality{
	background-position: -546px 0;
	width: 50px;
	height: 30px;
}

.Health{
	background-position: -372px 0;
	width: 50px;
	height: 30px;
}

.Advocacy{
	background-position: 0 0;
	width: 50px;
	height: 30px;
}

.Community{
	background-position: -95px 0;
	width: 50px;
	height: 30px;
}

.Drinks{
	background-position: -145px 0;
	width: 50px;
	height: 30px;
}

.Education{
	background-position: -187px 0;
	width: 50px;
	height: 30px;
}

.Entertainment{
	background-position: -237px 0;
	width: 50px;
	height: 30px;
}

.Food{
	background-position: -331px 0;
	width: 50px;
	height: 30px;
}

.Fashion{
	background-position: -289px 0;
	width: 50px;
	height: 30px;
}

.Other{
	background-position: -462px 0;
	width: 50px;
	height: 30px;
}

.Recreation{
	background-position: -502px 0;
	width: 50px;
	height: 30px;
}

.Advocacy_sm{
	background-position: 0 -30px ;
	width: 29px;
	height: 21px;
}

.Art_sm{
	background-position: -27px -30px ;
	width: 31px;
	height: 21px;
}

.Community_sm{
	background-position: -56px -30px ;
	width: 31px;
	height: 21px;
}

.Drinks_sm{
	background-position: -88px -30px ;
	width: 31px;
	height: 21px;
}

.Education_sm{
	background-position: -117px -30px ;
	width: 31px;
	height: 21px;
}

.Entertainment_sm{
	background-position: -146px -30px ;
	width: 31px;
	height: 21px;
}

.Fashion_sm{
	background-position: -177px -32px ;
	width: 31px;
	height: 21px;
}

.Food_sm{
	background-position: -208px -31px ;
	width: 31px;
	height: 21px;
}

.Health_sm{
	background-position: -236px -30px ;
	width: 31px;
	height: 21px;
}

.Music_sm{
	background-position: -266px -30px ;
	width: 31px;
	height: 21px;
}

.Other_sm{
	background-position: -294px -30px ;
	width: 31px;
	height: 21px;
}

.Recreation_sm{
	background-position: -322px -31px ;
	width: 31px;
	height: 21px;
}

.Spirituality_sm{
	background-position: -353px -32px ;
	width: 28px;
	height: 18px;
}

.date_time{
	background-position: -176px -159px ;
	width: 50px;
	height: 50px;
}
.unlit{
	background-position: 0 -212px ;
	width: 70px;
	height: 44px;
}

.lighting{
	background-position: -65px -212px ;
	width: 70px;
	height: 44px;
}

.lit{
	background-position: -135px -212px ;
	width: 70px;
	height: 44px;
}

.tinder2{
	background-position: -298px -170px ;
	width: 23px;
	height: 15px;
}

.sparked{
	background-position: -322px -165px ;
	width: 22px;
	height: 25px;
}

.on-fiya{
	background-position: -347px -166px ;
	width: 22px;
	height: 29px;
}

.share-icon{
	background-position: -372px -168px;
	width: 30px;
	height: 30px;
}



/*end sprites*/

.content
{
	background:#F4F2E6;
	padding:10px;
}
.centered
{
	text-align:center;
}
/*welcome party splash styles*/


/*tndr styles*/
/************* general*/

/************* header*/

#tndr
{
min-height:100%;
}
#search-bar
{
	margin-bottom:0px;
}
.ui-autocomplete
{
	z-index:600 !important;
}


/************* postings*/
#left-pane
{
	background:url('../images/postings-tile.png');
}
#left-pane.active
{
	z-index:501;
}

.posting-list-button
{
	margin-bottom:10px;
	color:#33333;
	background:#999;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
       -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.45);
           -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.45);
                box-shadow: 2px 2px 2px rgba(0,0,0,.45);
}
#list
{
  min-height:100%;
}

.posting-list-button.tile
{
	text-align:center;
}
.posting-list-button.list
{
	 text-align:left;
	margin-right:10px;
	border:solid 2px #999;
	background:#F4F2E6;
	color:#333;
}
.posting-list-button.list.highlight
{
	border:solid 2px #A33539;
}
.posting-list-button.list.triggered
{
	border:none;
	background:#999;
}
.posting-list-button.list.triggered.highlight
{
	background:#A33539;
}
.highlight
{
	background:#A33539;
}
.highlight > a:hover
{
	text-decoration:none;
}
.front-page-button-header
{
	padding-top:2px;
	width:100%;
	color:#F4F2E6;
}

.front-page-button-body
{
 	background:#F4F2E6;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
       -webkit-border-top-left-radius: 5px;
          -moz-border-top-left-radius: 5px;
               border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
          -moz-border-top-right-radius: 5px;
               border-top-right-radius: 5px;
	margin:2px;
	
}

.front-page-list-text > li
{
		color:#333;
}

.front-page-button-text
{
	padding:5px 2px 3px 2px;
	color:#333;
}

.front-page-button img
{
	max-width:100%;

}
/************* posts*/
#posting
{
position:fixed;
width:91%;
display:none;
z-index:11;
margin-left:70px;

top:0px;
background: rgba(150,150,150,.3);
overflow-y:scroll;
}

#posting-content
{

	position:relative;
	width:95%;
	margin:20px auto 20px auto;
	padding-bottom:1px;
       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
	background:#999;
	height:auto;
}
#posting-content.highlight 
{
	background:#A33539;
}
#posting-background
{
position:relative;

display:inline;
width:100%;
min-height:100%;
opacity:.2;
-moz-opacity:.2;
-khtml-opacity:.2;
background:#333;
left:70px;

}


.highlight .post-spacetime, .highlight .post-interact
{
	border-color:#A33539;
}
.post-interact
{
	position:absolute;
	width:41%;
	right:0px;
	bottom:0px;
	padding:5px;
	padding-bottom:5px;
	border-top:solid 2px #999999;
	border-left:solid 2px #999999;
	border-bottom:none;
       -webkit-border-top-left-radius: 10px;
          -moz-border-top-left-radius: 10px;
               border-top-left-radius: 10px;
}

.post-spacetime
{
	max-width:100%;
	text-align:right;
	font-size:12px;
	padding:5px;
	border-top:none;
	border-left:solid 2px #999999;
	border-bottom:solid 2px #999999;
       -webkit-border-bottom-left-radius: 10px;
          -moz-border-bottom-left-radius: 10px;
               border-bottom-left-radius: 10px;
}

@media all and (max-width:765px){
#posting
{
margin-left:0px;
}
#posting-background
{
left:0px;
}
.post-spacetime
{
	border-top:solid 2px #999999;
	border-left:none;
       -webkit-border-bottom-left-radius: 0px;
          -moz-border-bottom-left-radius: 0px;
               border-bottom-left-radius: 0px;
}
.post-interact
{

	width:auto;
	left:0px;
	border-left:none;
       -webkit-border-top-left-radius: 0px;
          -moz-border-top-left-radius: 0px;
               border-top-left-radius: 0px;
}
}

#post-time
{
	border-top: dashed 2px #999999;
	padding-top: 5px;
	padding-bottom:10px;
}

#post-address
{
}

.business-info > img
{
	width:100%;
}

.business-info
{
	padding-left: 10px;
	padding-top: 10px;

}

.business-information
{
	text-align: left;

}

.front-page-button img
{
	max-width:100%;

}
#posting-blurb
{
	padding-left:40px;
	padding-right:40px;
	text-align:left;
}
.posting-time
{
	padding-right:15px;
	text-align:right;
}
.post-mod-buttons
{
	padding-right:5px;
	padding-top:5px;
}
#posting-image img
{
	max-height:300px;
	margin-bottom: 20px;
}

.post-title
{
	padding-top:5px;
	font-size:30px;
	line-height:1.2;
}

.post-body
{
	position:relative;
 	background:#F4F2E6;
	margin:2px;

       -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
               border-radius: 10px;
       -webkit-border-top-left-radius: 5px;
          -moz-border-top-left-radius: 5px;
               border-top-left-radius: 5px;
       -webkit-border-top-right-radius: 5px;
          -moz-border-top-right-radius: 5px;
               border-top-right-radius: 5px;
}
.post-header
{
	color:#F4F2E6;
}
.spark-button
{
	padding:1px;
	margin:10px;
}
.share
{

	margin:1px;
}

.share > a
{
	padding:0px;
	width:40px;
}

.business-card
{
	background:#eee;
	padding-right:5px;
	margin-bottom:75px;
        -webkit-border-radius: 2px;
           -moz-border-radius: 2px;
                border-radius: 2px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.45);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.45);
                box-shadow: 0 1px 2px rgba(0,0,0,.45);


}
.tags li
{
	margin:10px 10px 10px 10px;
}


.tag
{
       -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
               border-radius: 20px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.25);
                box-shadow: 0 1px 2px rgba(0,0,0,.25);
	background:#ccc;
//	margin:2px;
	padding:5px 5px 5px 5px;
//	color: #333;
}

/************* map*/


#right-pane.active
{
	z-index:11;
        -webkit-box-shadow: -3px 0px 2px rgba(0,0,0,.25);
           -moz-box-shadow: -3px 0px 2px rgba(0,0,0,.25);
                box-shadow: -3px 0px 2px rgba(0,0,0,.25);
}


#map-canvas
{
	position:relative;
	width:100%;
	height:100%;

}

#preview-map-canvas
{
	position:relative;
	width:250px;
	height:250px;
	max-width:100%;
}

/*box styles*/

#box.active
{
overflow-y:scroll;
}






#box-back
{
	position:relative;
	height:59px;
	width:100%;
	z-index:0;

}
#box-content
{

position:relative;
top:-1px;

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdmMTIxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzA1MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #7f1214 0%, #370507 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7f1214), color-stop(100%,#370507)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7f1214 0%,#370507 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7f1214 0%,#370507 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7f1214 0%,#370507 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7f1214 0%,#370507 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7f1214', endColorstr='#370507',GradientType=0 ); /* IE6-8 */
z-index:1001;
}

#box-js-content
{
	position:relative;
	top:-85px;
	margin:0px 80px 0px 80px;
}

#signin-form
{
		padding:20px;
		float:none;
		max-width:220px;
		margin:0px auto;
}

#the-basics, #faq, .about-tab 
{
	margin:10px;
}
#box-links .active a
{
	color:#A33539;
}
