/* -------------------- RESET --------------------- */
body, html, div, blockquote, img, label, h1, h2, h3, h4, h5, h6, pre, ul, ol, li, dl, dt, dd, textarea, a, fieldset, th, td 
{margin: 0; padding: 0; border: 0; outline: none;}  
/*removed form, p,  and input reset...*/

body {background: url(images/bg-tile.png) #323232;}

.clearboth {clear: both;}
.floatright {float: right;}
.floatleft {float: left;}

ul, ol {list-style: none;}  

a  { 
color: red; 
text-decoration: none;
-webkit-transition: color 0.4s;
-moz-transition: color 0.4s;
-o-transition: color 0.4s;
transition: color 0.4s;

}  
a:hover {text-decoration: underline;}   

/* ------------------ GLOBAL STYLES ------------------ */

/*TYPOGRAPHY*/

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('league-gothic/league_gothic-webfont.eot');
    src: url('league-gothic/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('league-gothic/league_gothic-webfont.woff') format('woff'),
         url('league-gothic/league_gothic-webfont.ttf') format('truetype'),
         url('league-gothic/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
font-family: Helvetica, sans-serif;
}

#main-nav {
font-family: "LeagueGothicRegular"
}

#tagline {
font-family: "Helvetica Neue", "Helvetica", sans-serifi;
}

/*POSITIONING*/

#header-wrap,
#content-wrap,
#footer{ 
	margin: 0 auto; 
	width: 940px; 
	text-align: left;
} 

#header-fullwidth {
	background: #0f0e0e;
	height: 60px;
	border-bottom: 1px solid #535353;
	min-width: 940px;
}


/* header styles */

#tndrbox-logo {
	display: block;
	background: url(images/logo-alpha.png);
	width: 157px;
	height: 38px;
	float: left;
	margin-top: 10px;
}

#main-nav {
	float: right;
	text-transform: uppercase;
	font-size: 22px;
	margin-top: 18px;
}

#main-nav li {
	float: left;
	margin-left: 20px;
}

#main-nav li a {color: #595959;}

#main-nav li a:hover,
#main-nav #nav-selected a {
	color: white;
	text-decoration: none;
}

/* tagline styles */


#tagline {
	margin-top: 20px;
	font-size: 21px;
}

#tagline img {
	margin-top: -15px;
}

#tagline h3 {
	font-weight: 100;
}

#tagline h3 span {color: #ffae00}

#tagline-left {
	float: left;
	color: white;
}

#tagline-right {
	float: right;
	color: #ff8a00;
}

/* global content pane */
/* keep tagline and white bg w/rounded corners for internal content */

.content-pane {
	width: 620px;
	float: right;
	background: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	margin-bottom:5px;
}

.meta-pane {
	width: 300px;
	float: left;
	background: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	margin-bottom:5px;
}

.main-content-pane {
	width: 940px;
	background: #f8f8f8;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, .8);
}

.posting-border {
margin:5px;
}




.posting-meta{
float:right;
width:33%;
}

.posting-content{
float:left;
width:60%;
}
.posting-title{
float:left;
font-size:25px;
margin-bottom:10px;
}
.posting-time{
float:right;
}
.posting-data{
clear:both;
padding-top:20px;
}
.posting-image{
width:50%;
float:right;
}
.posting-blurb{
width:45%;
float:left;
}
.posting-tags{
width:45%;
float:left;
}
.posting-border li{
float:right;
margin-right:5px;
}



#share-buttons{
width:45%;
text-align:center;
float:left;
}


#info{
    width:900px;
    padding:20px;
    margin-top:20px;
}

#notice
{
    width:40%;
    padding:20px;
    margin:auto;
    margin-top:20px;
}

div.questions
{
    width:65%;
    margin:auto;
}

div.questions>h2,h3,h4
{
    padding-top:10px;
    padding-bottom:10px;
}

div#about a
{
    color:#800b0d;
    text-decoration:underline;
}

div#contact
{
    width:90%;
    margin:auto;
    padding-bottom: 20px;
}

div#email
{
    padding-bottom: 20px;
    border-bottom:black 3px solid;
}

div#contact table
{
    margin:auto;
}
/*ajax responses*/
div#result
{
    position:relative;
    margin:auto;
    text-align:left;
    width:400px;
}

div#result a
{
    color:#800b0d;
    padding:2px;
    text-decoration:underline;
}

#static-map
{
	//display:none;
}

#business-address:hover > #static-map
{
	display:inline;
	
}

.autocomplete { border:1px solid #999; background:#eee; cursor:default; text-align:left; max-height:500px; overflow:auto; margin-top:6px; padding-left:6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#fcc; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; }
.autocomplete strong { font-weight:normal; color:#800b0d; }

/*Button (no logo)*/

div.business_button
{
    background:#fa8f28;
    color:white;
    width:160px;
    height:40px;
    text-align:center;
    padding-top:20px;
    padding:10px;
    font-family:arial;
    font-size:15px;
    overflow:clip;
    -moz-border-top-left-radius:    5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius:         5px;
    -moz-border-bottom-left-radius:    5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius:         5px;
    -moz-border-top-right-radius:    5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius:         5px;
    -moz-border-bottom-right-radius:    5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius:         5px;

}

div.business_button>span
{
    line-height:15px;
    vertical-align:middle;
}

div.business_button a
{
    color:#800b0d;
}


/* ------------------ BEER ------------------ */
	
.list td,
.list th {
	padding: 8px 10px;
	font-size: 15px;
}

.list td{
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #aeaeae;
}

.list th{
	background: #fff0a8;
	border-right: 1px solid #f0b756;
	border-bottom: 3px solid #ff8b00;
}

.list th a {
	color: #c36a03;
}

.list td a {
	color: #800b0d;
}

.list .alt {
	background: #fff9e2;
}


/* fix to keep final underline from hanging over border raidus */

.list tr:last-child td:first-child {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px
}
	
.list tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

.list tr:first-child th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px
}
	
.list tr:first-child th:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}

/* ------------------ BREWERY ------------------ */
	

#tag-list {
    width:60%;
    margin:auto;
    text-align:center;
}
	
#tag-list td,
#tag-list th {
	padding: 8px 10px;
	font-size: 15px;
}

#tag-list td{
	border-right: 1px solid #e5e5e5;
	border-bottom: 1px solid #aeaeae;
}

#tag-list th{
	background: #fff0a8;
	border-right: 1px solid #f0b756;
	border-bottom: 3px solid #ff8b00;
}

#tag-list th a {
	color: #c36a03;
}

#tag-list td a {
	color: #800b0d;
}

#tag-list .alt {
	background: #fff9e2;
}


/* fix to keep final underline from hanging over border radius */

#tag-list tr:last-child td:first-child {
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px
}
	
#tag-list tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

#tag-list tr:first-child th:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px
}
	
#tag-list tr:first-child th:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}



/* -- footer -- */
#footer {
	padding: 20px 0;
	text-align: center;
	clear: both;
}








